html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    user-select: none;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: Pacifico, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: no-drop;
    opacity: 0.6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}